appdirs==1.4.4
attrs
black==19.10b0
certifi==2021.10.8
click==8.0.3
cycler
dnspython==1.16.0
email-validator
flake8
Flask
Flask-Login
Flask-SQLAlchemy
Flask-WTF
fonttools
greenlet
gunicorn
idna
importlib-metadata
itsdangerous
Jinja2
kiwisolver
MarkupSafe
matplotlib
mccabe==0.6.1
munkres
mypy-extensions==0.4.3
networkx
numpy
packaging
pathspec==0.7.0
pycodestyle
Pillow
pyflakes
python-dotenv
regex
setuptools
six
SQLAlchemy==1.4.31
toml
tornado
typed-ast
typing-extensions
Werkzeug==2.0.3
WTForms
zipp
psycopg2
pyflakes
pyparsing
python-dateutil
python-dotenv