<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Friendship Chart</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    {% include "autocomplete.html" %} {% endblock %}
  </head>
  <body>
    <h1>♡Friendship Chart♡</h1>
    <div style="margin-bottom: 1rem">
      <form action="" method="post">
        {{form.hidden_tag()}} {{form.l()}} knows {{form.r()}} from
        {{form.how()}} {{form.submit()}}
      </form>
    </div>
    <hr />
    <p><a href="/graph">see the graph</a></p>
    <table style="margin: auto">
      {% for edge in edges%}
      <tr>
        <td>
          <b>{{edge.l}}</b>
          <i> is friends with </i>
          <b>{{edge.r}}</b>{%if edge.how %}
          <i> from </i>
          <b>{{edge.how}}</b>{% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
